body {
    background-color: #00081E;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.music__block {
    display: flex;
    justify-content: center;
}

.inner__block-item {
    width: 224px;
    height: 320px;
    background-color: #471AFF;
    margin-top: 170px;
    border-radius: 10px;
}

.inner__block-item-2 {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

#addButton {
    display: block;
    width: 60px;
    height: 60px;
}

#musicAdder {
    cursor: pointer;
}

.inner__block-item-4 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #471AFF;
}

.row {
    display: flex;
    justify-content: center;
}

.musicPlayer {
    background: url(/assets/img/Play.svg) no-repeat;
    background-size: 26px;
    padding: 0;
}

.playSize {
    width: 26px;
    height: 100%;
    margin: 12px 0 0 16px;
    outline: none;
    border: 0;
}

.playSize:focus {
    outline: none;
    border: 0;
}

.play__skale {
    display: flex;
    align-items: center;
    width: 350px;
    margin-left: 10px;
}

.music__play-block {
    display: flex;
    justify-content: space-between;
}

.prograss__bar-item {
    width: 350px;
    height: 3px;
    background-color: #6A67FF;
    z-index: 1;
}

.prograss__bar-item-2 {
    min-width: 0px;
    width: 0%;
    height: 3px;
    position: absolute;
    background-color: #90A9FF;
    z-index: 2;
}

.addMusicFile {
    margin-top: 30px;
}